<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Portfolio For Me has everything you need to get your new website up and running in no time! For only $25 you can have your very own portfolio website to help you standout in a crowded job marcket.</p>
                <a href="#portfolio" class="btn btn-default btn-xl page-scroll">View Template!</a>
            </div>
        </div>
    </div>
</section>
