<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a href="https://portfolioforme.github.io/template/" target="_blank" class="portfolio-box">
          <img src="img/portfolio/1.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Profile Picture
              </div>
              <div class="project-name">
                Let people get to know you with a profile picture of yourself, and a few words or skills that highlight what you're good at!
              </div>
              <div class="project-category text-faded">
                Click To View
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="https://portfolioforme.github.io/template/" target="_blank" class="portfolio-box">
          <img src="img/portfolio/2.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Professional Bio
              </div>
              <div class="project-name">
                In just a few words, tell people what you are passionate about. Market yourself beyond your resume!
              </div>
              <div class="project-category text-faded">
                Click To View
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="https://portfolioforme.github.io/template/" target="_blank" class="portfolio-box">
          <img src="img/portfolio/3.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Customization
              </div>
              <div class="project-name">
                Make your website your own. Let us know what three colors you want in your website scheme, and poof! It shall be done!
              </div>
              <div class="project-category text-faded">
                Click To View
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="https://portfolioforme.github.io/template/" target="_blank" class="portfolio-box">
          <img src="img/portfolio/4.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Resume
              </div>
              <div class="project-name">
                Let your resume be seen by anyone who visits your website. But why stop there? It's downloadable too!
              </div>
              <div class="project-category text-faded">
                Click To View
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="https://portfolioforme.github.io/template/" target="_blank" class="portfolio-box">
          <img src="img/portfolio/5.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Contact Form
              </div>
              <div class="project-name">
                Your website will email you directly when someone reaches out to you through your contact form!
              </div>
              <div class="project-category text-faded">
                Click To View
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="https://portfolioforme.github.io/template/" target="_blank" class="portfolio-box">
          <img src="img/portfolio/6.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Social Media
              </div>
              <div class="project-name">
                Social media is everywhere. Let others know where they can follow you or learn more about you by having your social media linked in your website!
              </div>
              <div class="project-category text-faded">
                Click To View
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
