<section id="thankyou">
  <div class="thankyou-content">
    <div class="thankyou-content-inner">
      <h1>Thank You</h1>
      <hr>
      <h2>You'll receive a conformation email from us within the next 24 hours. Click the Get Started button to read about what we will need from you.</h2>

      <a href="PortfolioformeItemsNeeded.pdf" class="btn btn-default btn-xl page-scroll">Get Started!</a>
      <!--    <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
    </div>
  </div>
</section>
