<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PortfolioForMe</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/main.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">
  <section id = "thankyou">
      <div class="thankyou-content">
          <div class="thankyou-content-inner">
              <h1>Thank You</h1>
              <hr>
              <h2>You'll receive a confromation email from development@portfolioforme.com within the next 24 hours.</h2>
          <!--    <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
          </div>
      </div>
  </section>
  <section class="bg-primary" id="thankyouinfo">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h2 class="section-heading">Want to know what's next while you wait to hear from us?</h2>
                  <hr class="light">
                  <p class="text-faded">Click the Get Started button bellow to learn what we'll need from you, so you can have it ready for when we reachout to you.</p>
                  <a href="#portfolio" class="btn btn-default btn-xl page-scroll">Get Started!</a>
              </div>
          </div>
      </div>
  </section>

</body>

</html>
